.header_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-image: url("https://media.ouest-france.fr/v1/pictures/MjAyMzA0MTkzZWY1Mzg5ZDA2MDk1M2RlYmE4NDYwNzk0NWI5NTI?width=940&focuspoint=44%2C63&cropresize=1&client_id=bpeditorial&sign=ac612a5151079c1d3a0eadfccfcb16352e9fb4293337c9de0f257a2241edc461");

    background-size: cover;
    background-position: center;
}

.header_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.header_container h1 {
    position: relative;
    z-index: 1;
    font-size: 3em;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
}

.consigne {
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
    padding: 0 20px;
}

#map-container {
    position: relative;
    width: 95%;
    margin: 20px auto;
}

#downloadContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 20px;
}

.center {
    flex: 1;
    margin: 0 10px;
}

.left {
    margin-right: 10px;
}

.right {
    margin-left: 10px;
}


.footer_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20px;
    background-image: url("../../static/img/1.png");
    background-size: cover;
    background-position: center;

}

.footer_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 26, 26, 0.9);

}

.footer_container a {
    position: relative;
    font-size: 1em;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
}
