body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-image: url("/static/img/1.png");
    background-size: cover;
    background-position: center;
}

.container h1 {
    font-size: 3em;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
}

.consigne {
    text-align: center;
    color: black;
    margin-top: 20px;
}



#map-container {
    position: relative; /* Positionnement relatif pour les éléments enfants positionnés absolument */
    width: 95%; /* Largeur de votre conteneur de carte */
    margin: 0 auto; /* Centre la carte horizontalement */
}

#map {
    height: 500px; /* Hauteur de la carte */
    width: 100%; /* La carte prendra toute la largeur de son conteneur */
}

#colorPickerContainer {
    position: absolute; /* Positionnement absolu pour placer le color picker */
    top: 0; /* Position en haut du conteneur parent */
    left: calc(100% + 20px); /* Décale le color picker à droite du conteneur de la carte */
    display: none; /* Par défaut, le color picker est masqué */
    z-index: 1000; /* Assurez-vous que le color picker apparaît au-dessus de la carte */
}


/* Ajoutez les styles pour le tableau */
#selectedCountriesTable {
    border-collapse: collapse;
    width: 100%;
}

#selectedCountriesTable th, #selectedCountriesTable td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

#selectedCountriesTable th {
    background-color: #f2f2f2;
}

#selectedCountriesTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#downloadContainer {
    display: flex;
    justify-content: space-between; /* Les éléments sont répartis avec un espacement égal */
    align-items: center;
}

#fileNameInput {
    flex: 1; /* Le champ de texte prendra autant d'espace que possible */
    margin-right: 10px;
}

.left {
    margin-right: 10px; /* Marge à droite pour séparer du champ de texte */
}

.right {
    margin-left: 10px; /* Marge à gauche pour séparer du champ de texte */
}

#validateListButton,
#downloadButton {
    padding: 8px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#validateListButton:hover,
#downloadButton:hover {
    background-color: #45a049;
}
